@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0077b6;
  color: #353539;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

main {
  filter: url(#goo);
  position: relative;
  width: 100%;
  height: 100%;
}
main::before {
  content: "";
  position: absolute;
  width: 120px;
  aspect-ratio: 1;
  background-color: #353539;
  border-radius: 50%;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, -75%);
}
main::after {
  content: "";
  position: absolute;
  border: 30px solid #353539;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 10;
  animation: menuBorder2 2s linear forwards;
}

section {
  min-height: 100vh;
  text-align: center;
  position: absolute;
  width: 100%;
  right: 100%;
  padding: 50px;
}

section.active {
  right: 0;
}

.section-heading {
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #353539;
  border-radius: 50px;
  color: #0077b6;
  padding: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

#filter {
  position: fixed;
  z-index: -1;
}

#navbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: #353539;
  filter: url(#goo);
  z-index: 100;
  transition: border 1s ease-in-out;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
#navbar .nav-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 50%;
  background: #353539;
  place-items: center;
  width: 70px;
  aspect-ratio: 1;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  border: none;
  outline: none;
  display: grid;
  place-content: center;
  text-decoration: none;
  color: #0077b6;
}
#navbar .nav-button .tooltip {
  max-width: 0px;
  width: 200px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  background-color: #353539;
  border-radius: 50px;
  font-size: initial;
  text-transform: uppercase;
  font-weight: bold;
  color: #1db1ff;
}
#navbar .nav-button i {
  font-size: 1rem;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#navbar .nav-buttons .nav-button:nth-child(1) .tooltip {
  transform: translate(-50%, -50%) rotate(0deg);
}
#navbar .nav-buttons .nav-button:nth-child(2) .tooltip {
  transform: translate(-50%, -50%) rotate(30deg);
}
#navbar .nav-buttons .nav-button:nth-child(3) .tooltip {
  transform: translate(-50%, -50%) rotate(60deg);
}
#navbar .nav-buttons .nav-button:nth-child(4) .tooltip {
  transform: translate(-50%, -50%) rotate(90deg);
}
#navbar .nav-buttons .nav-button:nth-child(5) .tooltip {
  transform: translate(-50%, -50%) rotate(-60deg);
}
#navbar .nav-buttons .nav-button:nth-child(6) .tooltip {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#navbar .nav-buttons .nav-button:nth-child(7) .tooltip {
  transform: translate(-50%, -50%) rotate(0deg);
}
#navbar .social-buttons .nav-button {
  z-index: 50;
}
#navbar #nav-toggle {
  z-index: 100;
  padding: 30px;
  gap: 5px;
  width: 120px;
  filter: url(#goo);
  animation: navBubbleSuck 600ms cubic-bezier(0.62, -0.72, 0.46, 1.66) forwards;
}
#navbar #nav-toggle .bar {
  width: 50px;
  height: 10px;
  background-color: #0077b6;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  border-radius: 20px;
}
#navbar #nav-toggle:hover .bar {
  background-color: #1db1ff;
}
#navbar #nav-toggle:hover .bar:nth-child(1) {
  transform: rotate(45deg) translate(11px, 11px);
}
#navbar #nav-toggle:hover .bar:nth-child(2) {
  opacity: 0;
}
#navbar #nav-toggle:hover .bar:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -11px);
}
#navbar.active + main::after {
  animation: menuBorder 2s linear forwards;
}
#navbar.active #nav-toggle {
  animation: navBubblePulse 1600ms linear 200ms forwards, bounce 2s ease-in-out 1600ms infinite;
  top: -20px;
}
#navbar.active .nav-button {
  animation: bounce 1s ease-in-out 0ms infinite;
}
#navbar.active .nav-button .bar:nth-child(1) {
  transform: rotate(45deg) translate(11px, 11px);
}
#navbar.active .nav-button .bar:nth-child(2) {
  opacity: 0;
}
#navbar.active .nav-button .bar:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -11px);
}
#navbar.active .nav-button:hover {
  transition-delay: 0s !important;
}
#navbar.active .nav-button:hover .bar {
  background-color: #1db1ff !important;
}
#navbar.active .nav-button:hover i {
  font-size: 2rem !important;
  color: #1db1ff;
}
#navbar.active .nav-button:hover .tooltip {
  max-width: 200px;
  padding: 30px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#navbar.active .nav-buttons {
  transform: translateY(-20px);
}
#navbar.active .nav-buttons .nav-button {
  width: 100px;
  transition-duration: 1s;
}
#navbar.active .nav-buttons .nav-button i {
  font-size: 1rem;
}
#navbar.active .nav-buttons .nav-button:nth-child(1) {
  left: calc(50% - 200px);
  top: 0px;
  transition-delay: 600ms;
  animation-delay: 600ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(1):hover .tooltip {
  left: calc(50% - 150px);
  top: 50%;
}
#navbar.active .nav-buttons .nav-button:nth-child(2) {
  left: calc(50% - 173px);
  top: -100px;
  transition-delay: 700ms;
  animation-delay: 700ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(2):hover .tooltip {
  left: calc(50% - 130px);
  top: calc(50% - 75px);
}
#navbar.active .nav-buttons .nav-button:nth-child(3) {
  left: calc(50% - 100px);
  top: -173px;
  transition-delay: 800ms;
  animation-delay: 800ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(3):hover .tooltip {
  left: calc(50% - 75px);
  top: calc(50% - 130px);
}
#navbar.active .nav-buttons .nav-button:nth-child(4) {
  left: 50%;
  top: -200px;
  transition-delay: 900ms;
  animation-delay: 900ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(4):hover .tooltip {
  left: 50%;
  top: calc(50% - 150px);
}
#navbar.active .nav-buttons .nav-button:nth-child(5) {
  left: calc(50% + 100px);
  top: -173px;
  transition-delay: 1000ms;
  animation-delay: 1000ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(5):hover .tooltip {
  left: calc(50% + 75px);
  top: calc(50% - 130px);
}
#navbar.active .nav-buttons .nav-button:nth-child(6) {
  left: calc(50% + 173px);
  top: -100px;
  transition-delay: 1100ms;
  animation-delay: 1100ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(6):hover .tooltip {
  left: calc(50% + 130px);
  top: calc(50% - 75px);
}
#navbar.active .nav-buttons .nav-button:nth-child(7) {
  top: 0px;
  left: calc(50% + 200px);
  transition-delay: 1200ms;
  animation-delay: 1200ms;
}
#navbar.active .nav-buttons .nav-button:nth-child(7):hover .tooltip {
  left: calc(50% + 150px);
  top: 50%;
}
#navbar.active .social-buttons {
  transition-duration: 1000ms;
  transform: translateY(-20px);
}
#navbar.active .social-buttons .nav-button i {
  font-size: 2rem;
}
#navbar.active .social-buttons .nav-button:nth-child(1) {
  top: 0px;
  left: calc(50% - 90px);
  transition-delay: 500ms;
  animation-delay: 500ms;
}
#navbar.active .social-buttons .nav-button:nth-child(2) {
  top: -64px;
  left: calc(50% - 64px);
  transition-delay: 400ms;
  animation-delay: 400ms;
}
#navbar.active .social-buttons .nav-button:nth-child(3) {
  top: -90px;
  left: 50%;
  transition-delay: 300ms;
  animation-delay: 300ms;
}
#navbar.active .social-buttons .nav-button:nth-child(4) {
  top: -64px;
  left: calc(50% + 64px);
  transition-delay: 200ms;
  animation-delay: 200ms;
}
#navbar.active .social-buttons .nav-button:nth-child(5) {
  top: 0px;
  left: calc(50% + 90px);
  transition-delay: 100ms;
  animation-delay: 100ms;
}

#landing {
  display: grid;
  place-items: center;
}
#landing .landing-text {
  position: relative;
  width: 100%;
  height: 100%;
}
#landing .greeting,
#landing .title,
#landing .occupations li {
  background-color: #353539;
  color: #0077b6;
  padding: 30px;
  border-radius: 50px;
  position: absolute;
  left: -100vw;
  font-size: 1.25rem;
  width: fit-content;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
#landing .landing-img {
  position: absolute;
  left: -100vw;
  top: 50%;
  transform: translateY(-50%);
  bottom: -20px;
  aspect-ratio: 1;
  object-fit: cover;
  transition: 2s all ease-in-out;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 30px solid #353539;
  width: 50%;
}
#landing .greeting {
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  top: 40%;
  border-radius: 50px;
  display: grid;
  place-items: center;
  animation-delay: 300ms;
  animation: bounce 2s ease-in-out infinite;
}
#landing .title {
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  top: 50%;
  animation-delay: 100ms;
  font-size: 2rem;
  animation: bounce 2s ease-in-out infinite;
}
#landing .occupations li {
  animation-delay: 900ms;
  list-style-type: none;
  font-size: 1rem;
}
#landing .occupations li:nth-child(1) {
  top: 20%;
}
#landing .occupations li:nth-child(2) {
  top: 40%;
}
#landing .occupations li:nth-child(3) {
  top: 60%;
}
#landing .occupations li:nth-child(4) {
  top: 80%;
}
#landing.active .greeting {
  left: 90%;
  transition-delay: 700ms;
}
#landing.active .title {
  transition-delay: 1500ms;
  margin: 30px;
  left: 75%;
}
#landing.active .occupations li {
  transform: translateX(0);
}
#landing.active .occupations li:nth-child(1) {
  left: 30%;
  animation-delay: 100ms;
  transition-delay: 3000ms;
}
#landing.active .occupations li:nth-child(2) {
  left: 33%;
  animation-delay: 200ms;
  transition-delay: 3200ms;
}
#landing.active .occupations li:nth-child(3) {
  left: 33%;
  animation-delay: 300ms;
  transition-delay: 3400ms;
}
#landing.active .occupations li:nth-child(4) {
  left: 28%;
  animation-delay: 400ms;
  transition-delay: 3600ms;
}
#landing.active .landing-img {
  left: -16%;
  transition-delay: 500ms;
  z-index: 9;
}

#about {
  display: grid;
  place-content: center;
}
#about .about-information {
  position: relative;
  transform: translateY(-100vh);
}
#about .about-information .about-img {
  position: absolute;
  width: 75vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 30px solid #353539;
  z-index: 9;
}
#about .about-information .skills-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75vh;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  display: none;
}
#about .about-information .skills-image {
  font-size: 2em;
  max-height: 100px;
  width: calc(20% - 20px);
  min-width: 110px;
  flex-grow: 1;
  text-align: center;
  padding: 30px;
  background: #353539;
  border-radius: 50px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  transition: filter 0.4s linear;
  color: #0077b6;
  fill: #0077b6;
  margin: 20px 5px;
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .about-information .skills-image:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  height: 0px;
  width: 15px;
  background-color: #353539;
  border-radius: 50px;
  display: none;
}
#about .about-information .skills-image:nth-child(even)::after {
  left: 60px;
}
#about .about-information .skills-image:nth-child(odd)::after {
  right: 60px;
}
#about .about-information .skills-image:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
#about .about-information .about-text p {
  background-color: #353539;
  width: 25vw;
  position: absolute;
  color: #0077b6;
  padding: 30px 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-duration: 3s;
}
#about .about-information .about-text p:not(:last-child)::after {
  content: "";
  position: absolute;
  display: none;
  top: 100%;
  height: 0px;
  width: 15px;
  background-color: #353539;
  border-radius: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information {
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-delay: 1000ms;
  transition-duration: 3s;
}
#about.active .about-information .skills-container {
  transform: translate(-50%, -50%);
  transition-delay: 5300ms;
  transition-duration: 4s;
}
#about.active .about-information .skills-container .skills-image {
  transition: all 1s ease-in-out;
}
#about.active .about-information .skills-container .skills-image:nth-child(1) {
  top: 0;
  left: 100%;
  transition-delay: 5300ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(1):after {
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-delay: 6300ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(2) {
  top: 20%;
  left: 100%;
  transition-delay: 5500ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(2):after {
  transition-delay: 6500ms;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information .skills-container .skills-image:nth-child(3) {
  top: 40%;
  left: 100%;
  transition-delay: 5700ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(3):after {
  transition-delay: 6700ms;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information .skills-container .skills-image:nth-child(4) {
  top: 60%;
  left: 100%;
  transition-delay: 5900ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(4):after {
  transition-delay: 6900ms;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information .skills-container .skills-image:nth-child(5) {
  top: 80%;
  left: 100%;
  transition-delay: 6100ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(5):after {
  transition-delay: 7100ms;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information .skills-container .skills-image:nth-child(6) {
  top: 100%;
  left: 100%;
  transition-delay: 6300ms;
}
#about.active .about-information .skills-container .skills-image:nth-child(6):after {
  transition-delay: 7300ms;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#about.active .about-information .about-text p:nth-child(1) {
  top: -25vh;
  left: -25vw;
  animation-delay: 200ms;
  transition-delay: 4000ms;
}
#about.active .about-information .about-text p:nth-child(1)::after {
  left: 30px;
  transition-delay: 6500ms;
}
#about.active .about-information .about-text p:nth-child(2) {
  top: 0vh;
  left: -29vw;
  animation-delay: 400ms;
  transition-delay: 4200ms;
}
#about.active .about-information .about-text p:nth-child(2)::after {
  right: 30px;
  transition-delay: 7000ms;
}
#about.active .about-information .about-text p:nth-child(3) {
  top: 25vh;
  left: -25vw;
  animation-delay: 600ms;
  transition-delay: 4400ms;
}
#about.active .about-information .about-text p:not(:last-child)::after {
  height: 60px;
}

#projects {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 30px;
}
#projects .project {
  position: relative;
  flex-grow: 1;
  height: 60vh;
  transition: all 3s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  cursor: pointer;
  transform: translatey(-100vh);
  transition-property: transform;
}
#projects.active .project {
  transform: translatey(0vh);
}
#projects.active .project:nth-of-type(1) {
  transition-delay: 1200ms;
}
#projects.active .project:nth-of-type(2) {
  transition-delay: 1400ms;
}
#projects.active .project:nth-of-type(3) {
  transition-delay: 1600ms;
}
#projects.active .project:nth-of-type(4) {
  transition-delay: 1800ms;
}
#projects.active .project:nth-of-type(5) {
  transition-delay: 2000ms;
}
#projects .project:not(.active) {
  background: rgba(0, 0, 0, 0.7);
  max-width: 110px;
  animation: contract 1s ease-in forwards;
  height: 80vh;
}
#projects .project.active {
  animation: expand 1s ease-in forwards;
}
#projects .project-img {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /*   opacity: 0; */
}
#projects .project:hover:not(.active) {
  background: rgba(0, 0, 0, 0.3);
}
#projects .project-text {
  pointer-events: none;
  padding: 10px;
  height: 70px;
  display: flex;
  color: #0077b6;
  background-color: #353539;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  gap: 20px;
  text-align: left;
  /*   opacity: 0.8; */
}
#projects .active .project-text {
  width: 100%;
}
#projects .project-text i {
  color: #272731;
  background-color: #ade8f4;
  width: 50px;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  /*   font-size: 2.5rem; */
}
#projects .active .project-text i,
#projects .project:hover .project-text i {
  color: #191923;
  background-color: #0096c7;
}
#projects .project-description {
  width: 100%;
  max-width: 0;
  opacity: 0;
  display: none;
  /*   transition: all 0.3s linear; */
  transition-timing-function: ease-in-out;
  /*   transition-delay: 300ms; */
  transition-duration: 0.2s;
  transition-property: opacity, max-width;
}
#projects .project-description * {
  white-space: nowrap;
}
#projects .project.active .project-description {
  /*   max-width: 100%; */
  /*   opacity: 1; */
  display: block;
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 300ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 600px;
  }
}

#resume {
  display: grid;
  place-items: center;
}
#resume .experience-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
}
#resume .experience-container .experience {
  position: absolute;
  top: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-duration: 3s;
  animation: bounce3 1s linear infinite;
  height: 10px;
}
#resume .experience-container .experience:nth-of-type(odd) {
  left: 80%;
}
#resume .experience-container .experience:nth-of-type(odd) .experience-date {
  left: 10px;
}
#resume .experience-container .experience:nth-of-type(odd) .experience-details {
  left: -40px;
}
#resume .experience-container .experience:nth-of-type(even) {
  left: 20%;
}
#resume .experience-container .experience:nth-of-type(even) .experience-date {
  left: -10px;
}
#resume .experience-container .experience:nth-of-type(even) .experience-details {
  right: -40px;
}
#resume .experience-container .experience .experience-date {
  background-color: #353539;
  padding: 10px;
  color: #0077b6;
  font-weight: 900;
  border-radius: 50%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 1.5rem;
}
#resume .experience-container .experience .experience-date::after {
  display: none;
  content: "";
  background-color: #353539;
  width: 10px;
  height: 100vh;
  border-radius: 50px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
#resume .experience-container .experience .experience-details {
  position: absolute;
  width: 33vw;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-duration: 3s;
  display: flex;
  flex-direction: column;
}
#resume .experience-container .experience .experience-details .title {
  background-color: #353539;
  padding: 30px;
  color: #353539;
  font-weight: 900;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  max-width: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  transition-duration: 3s;
  height: fit-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.25rem;
}
#resume .experience-container .experience .experience-details .title::after {
  content: "";
  background-color: #353539;
  width: 15px;
  height: 0px;
  border-radius: 50px;
  position: absolute;
  top: 100%;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
}
#resume .experience-container .experience .experience-details .title .occupation {
  text-transform: initial;
  font-weight: lighter;
  font-size: 1rem;
}
#resume .experience-container .experience .experience-details .description {
  background-color: #353539;
  color: #353539;
  font-weight: bold;
  border-radius: 50px;
  max-width: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
  max-height: 150px;
  height: 100%;
}
#resume.active .experience-container .experience {
  transform: translate(-50%, -50%);
}
#resume.active .experience-container .experience:nth-of-type(1) {
  top: 20%;
  transition-delay: 1000ms;
  animation-delay: 200ms;
}
#resume.active .experience-container .experience:nth-of-type(1) .experience-details {
  transition-delay: 2000ms;
}
#resume.active .experience-container .experience:nth-of-type(1) .experience-details .title {
  animation-delay: 3800ms;
  transition-delay: 3200ms;
}
#resume.active .experience-container .experience:nth-of-type(1) .experience-details .title::after {
  height: 40px;
  transition-delay: 5800ms;
}
#resume.active .experience-container .experience:nth-of-type(1) .experience-details .description {
  transition-delay: 6000ms;
}
#resume.active .experience-container .experience:nth-of-type(2) {
  top: 30%;
  transition-delay: 1200ms;
  animation-delay: 400ms;
}
#resume.active .experience-container .experience:nth-of-type(2) .experience-details {
  transition-delay: 2200ms;
}
#resume.active .experience-container .experience:nth-of-type(2) .experience-details .title {
  animation-delay: 4000ms;
  transition-delay: 3400ms;
}
#resume.active .experience-container .experience:nth-of-type(2) .experience-details .title::after {
  height: 40px;
  transition-delay: 6000ms;
}
#resume.active .experience-container .experience:nth-of-type(2) .experience-details .description {
  transition-delay: 6200ms;
}
#resume.active .experience-container .experience:nth-of-type(3) {
  top: 55%;
  transition-delay: 1400ms;
  animation-delay: 600ms;
}
#resume.active .experience-container .experience:nth-of-type(3) .experience-details {
  transition-delay: 2400ms;
}
#resume.active .experience-container .experience:nth-of-type(3) .experience-details .title {
  animation-delay: 4200ms;
  transition-delay: 3600ms;
}
#resume.active .experience-container .experience:nth-of-type(3) .experience-details .title::after {
  height: 40px;
  transition-delay: 6200ms;
}
#resume.active .experience-container .experience:nth-of-type(3) .experience-details .description {
  transition-delay: 6400ms;
}
#resume.active .experience-container .experience:nth-of-type(4) {
  top: 63%;
  transition-delay: 1600ms;
  animation-delay: 800ms;
}
#resume.active .experience-container .experience:nth-of-type(4) .experience-details {
  transition-delay: 2600ms;
}
#resume.active .experience-container .experience:nth-of-type(4) .experience-details .title {
  animation-delay: 4400ms;
  transition-delay: 3800ms;
}
#resume.active .experience-container .experience:nth-of-type(4) .experience-details .title::after {
  height: 40px;
  transition-delay: 6400ms;
}
#resume.active .experience-container .experience:nth-of-type(4) .experience-details .description {
  transition-delay: 6600ms;
}
#resume.active .experience-container .experience:nth-of-type(even) {
  left: 56%;
}
#resume.active .experience-container .experience:nth-of-type(even) .experience-details {
  left: 25px;
}
#resume.active .experience-container .experience:nth-of-type(even) .experience-details .title::after {
  right: 30px;
}
#resume.active .experience-container .experience:nth-of-type(even) .experience-details .title {
  align-self: start;
}
#resume.active .experience-container .experience:nth-of-type(even) .experience-details .description {
  transform: translateX(20px);
  align-self: end;
  padding: 30px;
  max-width: 400px;
}
#resume.active .experience-container .experience:nth-of-type(odd) {
  left: 44%;
}
#resume.active .experience-container .experience:nth-of-type(odd) .experience-details {
  right: 25px;
  left: initial;
  justify-content: end;
}
#resume.active .experience-container .experience:nth-of-type(odd) .experience-details .title {
  align-self: end;
}
#resume.active .experience-container .experience:nth-of-type(odd) .experience-details .title::after {
  left: 30px;
}
#resume.active .experience-container .experience:nth-of-type(odd) .experience-details .description {
  transform: translateX(-20px);
  align-self: start;
  padding: 30px;
  max-width: 500px;
}
#resume.active .experience-container .experience:nth-of-type(1) .experience-details, #resume.active .experience-container .experience:nth-of-type(2) .experience-details {
  top: -90px;
}
#resume.active .experience-container .experience:nth-of-type(3) .experience-details, #resume.active .experience-container .experience:nth-of-type(4) .experience-details {
  top: 0px;
}
#resume.active .experience-container .experience .experience-details ul,
#resume.active .experience-container .experience .experience-details h6 {
  display: none;
}
#resume.active .experience-container .experience .experience-details .title {
  max-width: 600px;
  width: 100%;
  animation: colorChange 2s linear 6500ms forwards, bounce3 4s linear 8500ms infinite;
}
#resume.active .experience-container .experience .experience-details .description {
  transition-duration: 2s;
  width: 25vw;
  animation: colorChange 2s linear 6500ms forwards;
}

@keyframes navBubblePulse {
  0%, 15%, 30%, 45%, 60%, 75%, 90% {
    transform: translate(-50%, -50%) scale(1);
  }
  7%, 22%, 37%, 52%, 67%, 82%, 100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@keyframes navBubbleSuck {
  0% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -55%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
}
@keyframes bounce2 {
  0%, 100% {
    transform: translate(0, -55%);
  }
  50% {
    transform: translate(0, -45%);
  }
}
@keyframes bounce3 {
  0%, 100% {
    transform: translate(0, 5%);
  }
  50% {
    transform: translate(0, -5%);
  }
}
@keyframes bounce4 {
  0%, 100% {
    transform: translate(-5%, -50%);
  }
  50% {
    transform: translate(5%, -50%);
  }
}
@keyframes menuBorder {
  0% {
    border: 30px solid #353539;
  }
  30% {
    border: 500px solid #353539;
  }
  100% {
    border: 500px solid #0077b6;
  }
}
@keyframes menuBorder2 {
  0% {
    border: 500px solid #0077b6;
  }
  30% {
    border: 500px solid #353539;
  }
  100% {
    border: 30px solid #353539;
  }
}
@keyframes expand {
  0% {
    flex-grow: 1;
    max-width: 110px;
    height: 80vh;
  }
  100% {
    flex-grow: 1000;
    max-width: 1000px;
    height: 60vh;
  }
}
@keyframes contract {
  0% {
    flex-grow: 1000;
    max-width: 1000px;
    height: 60vh;
  }
  100% {
    flex-grow: 1;
    max-width: 110px;
    height: 80vh;
  }
}
@media screen and (max-width: 768px) {
  #projects {
    flex-direction: column;
  }

  .project {
    height: 30vh;
    max-width: 100% !important;
    background: none !important;
  }

  .project-text {
    width: 100%;
  }

  .project-description {
    opacity: 1;
    max-width: 600px;
    display: block;
  }
}
@keyframes borderMorph {
  0%, 100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  33% {
    border-radius: 46% 54% 55% 45%/30% 50% 50% 70%;
  }
  66% {
    border-radius: 32% 68% 36% 64%/66% 50% 50% 34%;
  }
}
@keyframes colorChange {
  0%, 90% {
    color: #353539;
    overflow: hidden;
  }
  100% {
    color: #0077b6;
    overflow: visible;
  }
}

/*# sourceMappingURL=index.css.map */
