// Variables

$primary-color: #0077b6;
$primary-color-highlight: lighten($primary-color, 20%);
$primary-color-shadow: darken($primary-color, 5%);
$secondary-color: #b56600;

$black: #353539;

$blue1: #caf0f8;
$blue2: #ade8f4;
$blue3: #90e0ef;
$blue4: #48cae4;
$blue5: #00b4d8;
$blue6: #0096c7;
$blue7: #0077b6;
$blue8: #023e8a;
$blue9: #03045e;
$blueGray1: #353539;
$blueGray2: #333337;
$blueGray3: #313135;
$blueGray4: #292933;
$blueGray5: #272731;
$blueGray6: #252529;
$blueGray7: #232327;
$blueGray8: #212125;
$blueGray9: #191923;

$transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
$box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $black;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

main {
  filter: url(#goo);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: 30px solid $black;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    // overflow-y: scroll;
    // transition: $transition;
    // transition-duration: 2s;
    animation: menuBorder2 2s linear forwards;
    // animation-direction: reverse;
  }
}

section {
  min-height: 100vh;
  text-align: center;
  position: absolute;
  width: 100%;
  right: 100%;
  padding: 50px;
}

section.active {
  right: 0;
}

// section:nth-of-type(even) {
//   background-color: $primary-color-shadow;
// }

#filter {
  position: fixed;
  z-index: -1;
}

// Navigation
#navbar {
  position: fixed;
  bottom: 0px;
  // left: 50%;
  // transform: translatey(-20px);
  width: 100%;
  height: 30px;
  background-color: $black;
  filter: url(#goo);
  z-index: 100;
  transition: border 1s ease-in-out;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  .nav-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50%;
    background: $black;
    place-items: center;
    width: 70px;
    aspect-ratio: 1;
    transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
    border: none;
    outline: none;
    display: grid;
    place-content: center;
    text-decoration: none;
    // box-shadow: $box-shadow;

    color: $primary-color;

    .tooltip {
      max-width: 0px;
      width: 200px;
      overflow: hidden;
      // box-shadow: $box-shadow;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      transition: $transition;
      background-color: $black;
      border-radius: 50px;
      font-size: initial;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color-highlight;
    }

    i {
      font-size: 1rem;
      transition: all 0.6s cubic-bezier(0.62, -0.72, 0.46, 1.66);
    }
  }
  .nav-buttons .nav-button {
    &:nth-child(1) .tooltip {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &:nth-child(2) .tooltip {
      transform: translate(-50%, -50%) rotate(30deg);
    }
    &:nth-child(3) .tooltip {
      transform: translate(-50%, -50%) rotate(60deg);
    }
    &:nth-child(4) .tooltip {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:nth-child(5) .tooltip {
      transform: translate(-50%, -50%) rotate(-60deg);
    }
    &:nth-child(6) .tooltip {
      transform: translate(-50%, -50%) rotate(-30deg);
    }
    &:nth-child(7) .tooltip {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .social-buttons .nav-button {
    z-index: 50;
  }

  #nav-toggle {
    z-index: 100;
    padding: 30px;
    gap: 5px;
    // box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    width: 120px;
    filter: url(#goo);
    animation: navBubbleSuck 600ms cubic-bezier(0.62, -0.72, 0.46, 1.66)
      forwards;

    .bar {
      width: 50px;
      height: 10px;
      background-color: $primary-color;
      transition: $transition;
      border-radius: 20px;
    }

    &:hover {
      .bar {
        background-color: $primary-color-highlight;
      }
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(11px, 11px);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
      }
    }
  }

  &.active {
    + main::after {
      // border: 500px solid $primary-color;
      animation: menuBorder 2s linear forwards;
    }
    // transform: translatey(-70px);
    // height: 100%;
    // bottom: 70px;
    // top: 80vh;
    #nav-toggle {
      animation: navBubblePulse 1600ms linear 200ms forwards,
        bounce 2s ease-in-out 1600ms infinite;
      top: -20px;
    }
    .nav-button {
      animation: bounce 1s ease-in-out 0ms infinite;

      // &:nth-of-type(even) {
      //   animation-delay: 500ms;
      // }
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(11px, 11px);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
      }

      &:hover {
        transition-delay: 0s !important;
        // z-index: 5;
        // font-size: 4rem;

        .bar {
          background-color: $primary-color-highlight !important;
        }

        i {
          font-size: 2rem !important;
          color: $primary-color-highlight;
        }

        .tooltip {
          max-width: 200px;
          padding: 30px;
          transition: $transition;
        }
      }
    }
    .nav-buttons {
      transform: translateY(-20px);
      .nav-button {
        width: 100px;
        transition-duration: 1s;
        i {
          font-size: 1rem;
        }
      }

      .nav-button:nth-child(1) {
        left: calc(50% - 200px);
        top: 0px;
        transition-delay: 600ms;
        animation-delay: 600ms;

        &:hover .tooltip {
          left: calc(50% - 150px);
          top: 50%;
        }
      }
      .nav-button:nth-child(2) {
        left: calc(50% - 173px);
        top: -100px;
        transition-delay: 700ms;
        animation-delay: 700ms;
        &:hover .tooltip {
          left: calc(50% - 130px);
          top: calc(50% - 75px);
        }
      }
      .nav-button:nth-child(3) {
        left: calc(50% - 100px);
        top: -173px;
        transition-delay: 800ms;
        animation-delay: 800ms;
        &:hover .tooltip {
          left: calc(50% - 75px);
          top: calc(50% - 130px);
        }
      }
      .nav-button:nth-child(4) {
        left: calc(50%);
        top: -200px;
        transition-delay: 900ms;
        animation-delay: 900ms;
        &:hover .tooltip {
          left: 50%;
          top: calc(50% - 150px);
        }
      }
      .nav-button:nth-child(5) {
        left: calc(50% + 100px);
        top: -173px;
        transition-delay: 1000ms;
        animation-delay: 1000ms;
        &:hover .tooltip {
          left: calc(50% + 75px);
          top: calc(50% - 130px);
        }
      }
      .nav-button:nth-child(6) {
        left: calc(50% + 173px);
        top: -100px;
        transition-delay: 1100ms;
        animation-delay: 1100ms;
        &:hover .tooltip {
          left: calc(50% + 130px);
          top: calc(50% - 75px);
        }
      }
      .nav-button:nth-child(7) {
        top: 0px;
        left: calc(50% + 200px);
        transition-delay: 1200ms;
        animation-delay: 1200ms;
        &:hover .tooltip {
          left: calc(50% + 150px);
          top: 50%;
        }
      }
    }

    .social-buttons {
      transition-duration: 1000ms;
      transform: translateY(-20px);
      .nav-button {
        // padding: 30px;
        // width: 100px;

        i {
          font-size: 2rem;
        }
      }
      .nav-button:nth-child(1) {
        top: 0px;
        left: calc(50% - 90px);
        transition-delay: 500ms;
        animation-delay: 500ms;
      }
      .nav-button:nth-child(2) {
        top: -64px;
        left: calc(50% - 64px);
        transition-delay: 400ms;
        animation-delay: 400ms;
      }
      .nav-button:nth-child(3) {
        top: -90px;
        left: 50%;
        transition-delay: 300ms;
        animation-delay: 300ms;
      }
      .nav-button:nth-child(4) {
        top: -64px;
        left: calc(50% + 64px);
        transition-delay: 200ms;
        animation-delay: 200ms;
      }
      .nav-button:nth-child(5) {
        top: 0px;
        left: calc(50% + 90px);
        transition-delay: 100ms;
        animation-delay: 100ms;
      }
    }
  }
}

@keyframes navBubblePulse {
  0%,
  15%,
  30%,
  45%,
  60%,
  75%,
  90% {
    transform: translate(-50%, -50%) scale(1);
  }
  7%,
  22%,
  37%,
  52%,
  67%,
  82%,
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes navBubbleSuck {
  0% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -55%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
}
@keyframes bounce2 {
  0%,
  100% {
    transform: translate(0, -55%);
  }
  50% {
    transform: translate(0, -45%);
  }
}
@keyframes bounce3 {
  0%,
  100% {
    transform: translate(0, 5%);
  }
  50% {
    transform: translate(0, -5%);
  }
}
@keyframes bounce4 {
  0%,
  100% {
    transform: translate(-5%, -50%);
  }
  50% {
    transform: translate(5%, -50%);
  }
}

@keyframes menuBorder {
  0% {
    border: 30px solid $black;
  }
  30% {
    border: 500px solid $black;
  }
  100% {
    border: 500px solid $primary-color;
  }
}
@keyframes menuBorder2 {
  0% {
    border: 500px solid $primary-color;
  }
  30% {
    border: 500px solid $black;
  }
  100% {
    border: 30px solid $black;
  }
}

#landing {
  display: grid;
  place-items: center;

  .landing-text {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .greeting,
  .title,
  .occupations li {
    background-color: $black;
    color: $primary-color;
    padding: 30px;
    border-radius: 50px;
    position: absolute;
    left: -100vw;
    font-size: 1.25rem;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;

    transition: all 4s ease-in-out;
  }

  .landing-img {
    position: absolute;
    left: -100vw;
    top: 50%;
    transform: translateY(-50%);
    bottom: -20px;
    // height: 100vh;
    transition: 2s all ease-in-out;
    border-radius: 50%;
    // border-radius: 0% 58% 58% 0% / 0% 34% 66% 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 50px solid $black;
    width: 50%;
    // animation: bounce4 2s ease-in-out infinite;
    // box-shadow: $box-shadow;
  }

  .greeting {
    box-shadow: $box-shadow;
    top: 40%;
    // width: 10%;
    border-radius: 50px;
    // aspect-ratio: 1;
    // z-index: 10;
    display: grid;
    place-items: center;
    animation-delay: 300ms;
    animation: bounce 2s ease-in-out infinite;
  }

  .title {
    box-shadow: $box-shadow;
    top: 50%;
    animation-delay: 100ms;
    // width: 50%;
    font-size: 2rem;
    animation: bounce 2s ease-in-out infinite;
  }

  .occupations li {
    // box-shadow: $box-shadow;
    animation-delay: 900ms;
    // width: 20%;
    list-style-type: none;
    font-size: 1rem;
    // text-transform: capitalize;
    // animation: bounce4 2s ease-in-out infinite;

    &:nth-child(1) {
      top: 20%;
    }
    &:nth-child(2) {
      top: 40%;
    }
    &:nth-child(3) {
      top: 60%;
    }
    &:nth-child(4) {
      top: 80%;
    }
  }

  &.active {
    .greeting {
      left: 90%;
      transition-delay: 700ms;
    }
    .title {
      transition-delay: 1500ms;
      // width: 100%;
      margin: 30px;
      left: 75%;
    }
    .occupations li {
      // animation-delay: 3000ms;
      transform: translateX(0);
      &:nth-child(1) {
        left: 30%;
        animation-delay: 100ms;
        transition-delay: 3000ms;
      }
      &:nth-child(2) {
        left: 33%;
        animation-delay: 200ms;
        transition-delay: 3200ms;
      }
      &:nth-child(3) {
        left: 33%;
        animation-delay: 300ms;
        transition-delay: 3400ms;
      }
      &:nth-child(4) {
        left: 28%;
        animation-delay: 400ms;
        transition-delay: 3600ms;
      }
    }
    .landing-img {
      left: -16%;
      transition-delay: 500ms;
      z-index: 9;
    }
  }
}

// Projects
#projects {
  display: flex;
  max-width: 100%;
  align-items: center;
  // padding: 20px;
  gap: 30px;
  .project {
    position: relative;
    flex-grow: 1;
    height: 80vh;
    transition: all 0.6s ease-in-out;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: $box-shadow;
    cursor: pointer;
  }
  .project:not(.active) {
    background: rgba(0, 0, 0, 0.7);
    max-width: 110px;
    // animation: bounce3 2s ease-in-out infinite;
  }
  .project:nth-of-type(1) {
    animation-delay: 100ms;
  }
  .project:nth-of-type(2) {
    animation-delay: 200ms;
  }
  .project:nth-of-type(3) {
    animation-delay: 300ms;
  }
  .project:nth-of-type(4) {
    animation-delay: 400ms;
  }
  .project:nth-of-type(5) {
    animation-delay: 500ms;
  }

  .project.active {
    flex-grow: 1000;
    max-width: 1000px;
  }

  .project-img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*   opacity: 0; */
  }

  .project:hover:not(.active) {
    background: rgba(0, 0, 0, 0.3);
  }

  .project-text {
    pointer-events: none;
    padding: 10px;
    height: 70px;
    display: flex;
    color: $primary-color;
    background-color: $black;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    gap: 20px;
    text-align: left;
    /*   opacity: 0.8; */
  }

  .active .project-text {
    width: 100%;
  }

  .project-text i {
    color: $blueGray5;
    background-color: $blue2;
    width: 50px;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    box-shadow: $box-shadow;
    border-radius: 50%;
    transition: $transition;
    /*   font-size: 2.5rem; */
  }

  .active .project-text i,
  .project:hover .project-text i {
    color: $blueGray9;
    background-color: $blue6;
  }

  .project-description {
    width: 100%;
    max-width: 0;
    opacity: 0;
    display: none;
    /*   transition: all 0.3s linear; */
    transition-timing-function: ease-in-out;
    /*   transition-delay: 300ms; */
    transition-duration: 0.2s;
    transition-property: opacity, max-width;
  }

  .project-description * {
    white-space: nowrap;
  }

  .active .project-description {
    /*   max-width: 100%; */
    /*   opacity: 1; */
    display: block;

    animation: fadeIn 0.3s linear forwards;
    animation-delay: 300ms;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      max-width: 0;
    }
    100% {
      opacity: 1;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 768px) {
  #projects {
    flex-direction: column;
  }

  .project {
    height: 30vh;
    max-width: 100% !important;
    background: none !important;
  }

  .project-text {
    width: 100%;
  }

  .project-description {
    opacity: 1;
    max-width: 600px;
    display: block;
  }
}
